*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-image: url(/Stlys.css/imagenes/f24e3919a7e78daac611726778326396.gif);
    background-size: auto;
    
}
/*Encabezado de la pagina */
header{
    background: rgba(12, 234, 250, 0.7);
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 1%;
}

div{
    padding: 2% 5%;
    margin-top: 10%;
    background: rgba(250, 246, 12, 0.7);
    border: 2px solid black;
    border-radius: 15px;
}

/*Video representativo*/

#flex{
    
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-image: url(/Stlys.css/imagenes/mi-diversión.png);
    background-size: contain;
    
    padding: 0%;
    
    
}
.video{
    width: 25%;  
    background: rgba(12, 234, 250, 0.7);
    margin: 1%;
    border: none;
}